**/target/
**/out/
**/.settings
**/.classpath
**/.project
**/*.log

**/HELP.md
**/logs/
**/.mvn/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/.log

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

### VS Code ###
**/.vscode/

### Gradle ###
**/gradle
**/.gradle
**/gradlew
**/gradlew.bat









