<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lwq.oauth2.server.dao.Oauth2ClientMapper">

	<!-- 查询用户信息 -->
	<select id="findByClientId" resultType="org.lwq.oauth2.server.pojo.Oauth2Client">
		select id, client_name, client_id, client_secret from oauth2_client where client_id = #{clientId}
	</select>

	<!-- 查询用户信息 -->
	<select id="findByClientSecret" resultType="org.lwq.oauth2.server.pojo.Oauth2Client">
		select id, client_name, client_id, client_secret from oauth2_client where client_secret = #{clientSecret}
	</select>

</mapper> 